.ConvertDegree {
  font-size: 15px;
}
.ConvertDegree .currentDegree {
  font-size: 40px;
  margin-left: 17px;
}
@media (max-width: 575px) {
  .ConvertDegree .currentDegree {
    margin-left: -10px;
  }
}
