.CurrentData {
  margin-top: 50px;
}
.CurrentData li {
  list-style: none;
}
.CurrentData .basicInfo {
  margin-left: 35px;
}
.CurrentData .cityName {
  font-size: 22px;
  margin-top: -40px;
  color: #230eaf;
  font-style: italic;
}
.CurrentData .emoji {
  font-size: 20px;
  margin-left: -20px;
}

.CurrentData .description {
  font-size: 18px;
  color: #048c67;
  margin-top: 20px;
}
.CurrentData .details {
  margin-top: 20px;
  margin-left: 60px;
}
.CurrentData .data {
  padding-bottom: 15px;
  color: #46507f;
}
.CurrentData .cloudData,
.CurrentData .humidData,
.CurrentData .windData {
  color: black;
  font-size: 18px;
}
@media (max-width: 767px) {
  .CurrentData .details {
    margin-left: 45px;
  }
  .CurrentData .basicInfo {
    margin-left: 18px;
  }
}
@media (max-width: 717px) {
  .CurrentData .details {
    margin-left: 35px;
  }
}
@media (max-width: 667px) {
  .CurrentData .details {
    margin-left: 25px;
  }
  .CurrentData .basicInfo {
    margin-left: 15px;
  }
}
@media (max-width: 620px) {
  .CurrentData .details {
    margin-left: 15px;
  }
}
@media (max-width: 575px) {
  .CurrentData li {
    margin-left: -40px;
  }
  .emoji {
    font-size: 5px;
    padding: 0px;
    margin-bottom: -20px;
  }
  .cityName {
    font-weight: bolder;
    font-size: large;
  }
}
