.Forecast {
  text-align: center;
  margin: 30px 0px 50px 0px;
  box-shadow: 10px 10px 50px 10px rgba(14, 97, 240, 0.3);
  background: linear-gradient(
    119deg,
    rgb(72, 9, 134) 0%,
    rgb(20, 58, 76) 46%,
    rgb(35, 106, 88) 91%
  );
  padding: 30px 10px;
}
.Forecast .Day {
  font-style: italic;
  font-size: 17;
  color: #f2baf1;
}
@media (max-width: 575px) {
  .Forecast {
    margin: 20px 0px;
  }
}
@media (max-width: 546px) {
  .Forecast {
    margin: 0px;
  }
}
