.Weather {
  margin-bottom: 30px;
}

.Weather .placeholder {
  background-color: white;
  border: 1px solid #b7d0fa;
}
.Weather .placeholder:hover {
  cursor: auto;
}
.Weather .submitButton {
  background-color: #b7d0fa;
  border: 1px solid #c7f9f0;
  box-shadow: 10px 10px 50px 10px rgba(14, 97, 240, 0.3);
}
.Weather .dateTime {
  border: 1px solid white;
  text-align: center;
}
@media (max-width: 767px) {
  .Weather .submitButton {
    display: block;
    margin-top: 13px;
    margin-left: 52px;
  }
}
@media (max-width: 628px) {
  .Weather .dateTime {
    border: none;
  }
}

@media (max-width: 575px) {
  .Weather .submitButton {
    margin-bottom: 30px;
    display: block;
    margin: 10px auto;
  }
  .Weather {
    text-align: center;
  }
  .dateTime {
    margin: 40px 0px;
  }
}
